.header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #070707;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__search {
  display: flex;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 11px;
  padding: 10px;
  border: none;
  width:200px;
  margin-left: 270px;
}

.header__topic{
  
  font-size: 16px;
  color:white;
  margin-left:390px;
}
.header__search__text {
  font-size: 16px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}