.home-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.buttons-container {
  display: flex; /* Display buttons horizontally */
}

button {
  width: 250px; /* Set equal width for each button */
  background-color: rgb(247, 247, 143); /* Set button color to yellow */
  margin-right: 10px; /* Add spacing between buttons */
  padding: 8px;
  cursor: pointer;
  font-size: 19px;
   border: 1px solid #090909; /* Remove button border */
  outline: none; /* Remove button outline on focus */
}

button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

button.active {
  background-color: #007bff;
  color: rgb(13, 13, 13);
}

.details-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #090909;
}