.product-models-container {
  text-align: left;
  padding: 20px;
}

.sub-model {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.back-link {
  margin-top: 20px;
}

.back-link a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}
