.product-main-models-container {
  text-align: left;
  padding: 20px;
}

.model-container {
  display: flex;
  align-items: center;
}

.model-text {
  font-size: 20px;
  margin-left: 10px;
}

.plus-sign {
  cursor: pointer;
  font-size: 24px;
}